* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #020617);
    color: #fff;
    padding: 20px;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #f7931a;
}

.btc-price {
    font-size: 14px;
    color: #94a3b8;
}

/* DASHBOARD */

.dashboard {
    max-width: 900px;
    margin: auto;
}

/* CARD */

.card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    padding: 25px;
    border-radius: 18px;
    margin-bottom: 25px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-3px);
}

/* HERO */

.hero-card h1 {
    font-size: 28px;
    margin-bottom: 8px;
}

.subtext {
    color: #94a3b8;
}

.highlight {
    color: #f7931a;
    font-weight: bold;
}

/* INPUT */

.input-group {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

input {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #0f172a;
    color: #fff;
}

/* BUTTONS */

.primary-btn {
    padding: 12px 18px;
    background: linear-gradient(90deg, #f7931a, #ffb347);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.primary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px #f7931a;
}

.big-btn {
    width: 100%;
    margin-top: 15px;
}

.secondary-btn {
    background: #1e293b;
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.logout-btn {
    background: #ef4444;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

/* WALLET */

.wallet-box {
    background: #0f172a;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.label {
    font-size: 13px;
    color: #94a3b8;
}

/* RESULT */

.result-box {
    margin-top: 15px;
    color: #f7931a;
}

/* MOBILE */

@media(max-width: 768px) {
    .input-group {
        flex-direction: column;
    }
}
