/* ===== GLOBAL ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: radial-gradient(circle at top, #0f172a, #020617);
    color: #ffffff;
    padding: 20px;
}

/* ===== NAVBAR ===== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #f7931a;
}

.btc-price {
    font-size: 14px;
    color: #94a3b8;
}

/* ===== CARDS ===== */

.card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 16px;
    margin-bottom: 25px;
    box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

/* ===== HEADINGS ===== */

.card h2 {
    color: #f7931a;
    margin-bottom: 15px;
}

/* ===== INPUT ===== */

input {
    width: 100%;
    padding: 14px;
    margin: 10px 0 20px 0;
    border-radius: 8px;
    border: none;
    background: #0f172a;
    color: white;
    font-size: 16px;
}

/* ===== BUTTONS ===== */

.primary-btn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(90deg, #f7931a, #ffb347);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.primary-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px #f7931a;
}

.logout-btn {
    background: #ef4444;
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
}

/* ===== LOAN HISTORY ===== */

.loan-box {
    background: #0f172a;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 12px;
}

/* ===== MOBILE ===== */

@media (max-width: 768px) {
    body {
        padding: 15px;
    }

    .card {
        padding: 18px;
    }
   }
